<ion-header>
  <ion-toolbar>
    <ion-title>TABLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1>Statuary Documents</h1>
  <div class="header">
    <span>Institute name /institute id: Sankaralingam Bhuwaneswari College of Pharmacy Anaikuttam Via Sivakasi Viruthunagar Dist/ PCI-1882</span>
  </div>

  <div class="table-container">
    <ion-grid>
      <ion-row class="table-header">
        <ion-col>Course</ion-col>
        <ion-col>Yes/No</ion-col>
        <ion-col>if yes enclose letter</ion-col>
        <ion-col>Image</ion-col>
        <ion-col>Inspector Remark</ion-col>
      </ion-row>

      <ng-container *ngFor="let element of dataSource">
        <ion-row class="table-row">
          <ion-col>{{ element.course }}</ion-col>
          <ion-col>
            <ion-checkbox [checked]="element.checkbox"></ion-checkbox>
          </ion-col>
          <ion-col>
            <ion-button (click)="takePicture()">Camera</ion-button>
          </ion-col>
          <ion-col>
            <img [src]="getPhoto()" alt="pic" style="width: 400ppx" />
          </ion-col>
          <ion-col>
            <ion-select [(ngModel)]="element.selectOption">
              <ion-select-option value="option0" disabled>Select</ion-select-option>
              <ion-select-option value="option1">Verified</ion-select-option>
              <ion-select-option value="option2">Not Available</ion-select-option>
              <ion-select-option value="option3">Available but not able to Verify</ion-select-option>
              <ion-select-option value="option4">Doubtful</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>

  <button class="submit-btn" (click)="submitTableData()">Submit</button>
  <button class="submit-btn" (click)="getTableData()">Get</button>

  <table class="separate-table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Checkbox</th>
        <th>Select Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of separateDataSource">
        <td>{{ element.course }}</td>
        <td>{{ element.checkbox }}</td>
        <td>{{ element.selectOption }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
