ion-col {
  word-wrap: break-word;
  word-break: break-all;
  border: 0.1px solid black;
}

ion-button {
  font-size: small;
  width: 40%;
}

.claimForm-title {
  text-align: center;
  font-weight: bold;
}

.center {
  margin-left: 5.5rem;
}

/* Define the styles for the horizontal line */
.horizontal-line {
  height: 1px;
  background-color: black;
  margin: 10px 0;
}