<ion-header [translucent]="true">
  <ion-toolbar class="claim" color="secondary">
    <ion-title class="claimForm-title">Calculation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label>A. Travelling allowance B/F (Total of A):</ion-label>
        <ion-label class="center">XXXX FIXED</ion-label>
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label>B. Daily Allowance XXXXX days @ Rs XXXXXX :</ion-label>
        <ion-label class="center">Rs XXXXX Input</ion-label>
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label>C. TOTAL (A+B) :</ion-label>
        <ion-label class="center">Rs XXXX FIXED</ion-label>
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label
          >D. Honorarium (applicable only for Inspectors, PCI) :</ion-label
        >
        <ion-label class="center">Rs XXXXXX input</ion-label>
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label
          >E. Incognito Fees applicable only in case of surprise :</ion-label
        >
        <ion-label class="center"
          >Rs XXXXXX input Inspection (verification of complaint/
          compliance)</ion-label
        >
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label
          >F. Incognito Fees applicable only in case of surprise :</ion-label
        >
        <ion-label class="center"
          >Rs XXXXXX input Inspection (verification of complaint/
          compliance)</ion-label
        >
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label>G. Advance if any :</ion-label>
        <ion-label class="center">Rs XXXXXX FIXED</ion-label>
      </div>
    </ion-card-content>
    <ion-card-content class="content-container">
      <div class="labels-container">
        <ion-label>H. Balance (F –H) :</ion-label>
        <ion-label class="center">Rs XXXXXX FIXED</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button class="custom-button" (click)="btnClick()">Review <ion-icon name="arrow-forward"></ion-icon> </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/attachment"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
