<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;"> NAvbar</ion-title>
    <div class="nav-bar">
      <!-- <app-navbar></app-navbar> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label (click)="navigate(1)">Inspection</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <ion-input type="text"></ion-input> -->
            <ion-icon name="id-card"></ion-icon>
            <ion-label> Filled </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label (click)="navigate(2)">Report</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <ion-input type="text"></ion-input> -->
            <ion-icon name="document-sharp"></ion-icon>
            <ion-label> Filled </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label (click)="navigate(3)">Pending</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <ion-input type="text"></ion-input> -->
            <ion-icon name="list"></ion-icon>
            <ion-label> Filled </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label (click)="navigate(4)">TA/DA</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>                   
            <ion-icon name="wallet"></ion-icon>
            <ion-label> Filled </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-list>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>